@import "./media";

.emailForm {
    position: absolute;
    bottom: 20vh;
    right: 6vw;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.formHeading {
    position: relative;
    top: -2vw;
    margin-bottom: -4vh;
    align-self: flex-end;

    h1 {
        font-size: 2vw;
        color: #474544;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        text-transform: uppercase;
        top: -2vw;
        color: rgb(131, 131, 131);
    }
}

.underline {
    position: relative;
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    margin-bottom: 2vh;
    width: 100px;
}

footer p {
    font-size: 15px;
    line-height: 22px;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 15px;
}

.emailForm-control-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.emailForm-control-wrap .emailForm-control {
    padding: 7px !important;
}

.emailForm-control-wrap .name-form {
    width: 60%;
}

.emailForm-control-wrap .email-form {
    width: 80%;
}

.emailForm-control-wrap input {
    background: #1c1f2f;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.5),
        -13px -13px 23px rgba(255, 255, 255, 0.03);
    border-radius: 5px;
}

.emailForm-control-wrap input:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.5),
        -13px -13px 23px rgba(255, 255, 255, 0.03),
        inset 14px 14px 70px rgba(0, 0, 0, 0.2),
        inset -15px -15px 30px rgba(255, 255, 255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.emailForm .contact-emailForm-footer textarea {
    height: 160px;
    width: 100%;
}

.emailForm-control-wrap textarea:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.5),
        -13px -13px 23px rgba(255, 255, 255, 0.03),
        inset 14px 14px 70px rgba(0, 0, 0, 0.2),
        inset -15px -15px 30px rgba(255, 255, 255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.emailForm-control-wrap textarea {
    background: #1c1f2f;
    overflow-y: auto;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.5),
        -13px -13px 23px rgba(255, 255, 255, 0.03);
    border-radius: 5px;
}

textarea {
    overflow-y: auto;
    resize: none;
}

.emailForm .contact-emailForm-footer .submit {
    width: 100%;
    padding: 11px;
    margin: 0;
    line-height: 0;
}
.emailForm .contact-emailForm-footer .submit {
    background-color: #394050;
    color: #99a9b5;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    text-transform: uppercase;
    outline: none !important;
    background-color: #1c1f2f;
    border-radius: 5px;
    min-width: 140px;
    /* box-shadow: 10px 10px 36px rgba(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgba(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 3px 9px 16px rgba(0, 0, 0, 0.4),
        -3px -3px 10px rgba(255, 255, 255, 0.06),
        inset 14px 14px 26px rgba(0, 0, 0, 0.3),
        inset -3px -3px 15px rgba(255, 255, 255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
    width: 25%;
    position: relative;
    left: 0%;
    transition: all 0.8s ease-in-out;
}

.emailForm input[type="submit"] {
    height: 40px;
    line-height: 21px;
    padding: 10px 40px;
    font-size: 14px;
}

.emailForm .contact-emailForm-footer .submit:hover {
    box-shadow: 0 0px 20px rgba(53, 53, 53, 0.7);
    border-color: rgba(39, 39, 39, 0.61);
    background: linear-gradient(
        to right,
        rgba(9, 34, 255, 0.129),
        #02062cb5,
        rgba(9, 34, 255, 0.129)
    );
    color: white;
}

//Small Laptop

@include smallLaptop {
    .emailForm {
        width: 40%;
    }
}

//Small Screen

@include smallScreen {
    .emailForm {
        width: initial;
        right: 4vw;
        background: #0a0a23;
        left: 4vw;
        border-radius: 2vw;
    }

    .formHeading {
        align-self: center !important;
        position: relative;
        top: 2vw;
        margin: 1vw;
        margin-top: 0;

        h1{
            font-size: 3vw;
        }
    }

    .contact-emailForm-footer {
        margin: 3vw;
    }
}

@include mobile{
    .formHeading{
        h1{
            font-size: 5vw;
        }
    }
}
