@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");



    .projectCard {
        position: absolute;
        top: 0vh;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 4vw;
        margin: 0 auto;
        padding: 15vh 4vw;
        overflow: hidden;

    .card {
        position: relative;
        width: 18vw;
        height: 42vh;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

    .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.face1 {
            box-sizing: border-box;
            padding: 20px;

            h2 {
                margin: 0;
                padding: 0;
            }

            .java {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &.face2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            transition: 0.5s;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 4vh;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
        }

        .icon{
            position: relative;
            margin-top: 5vh;
            width: 5vw;
            height: 5vw;
            border-radius: 50px;
            box-shadow: 3px 9px 16px rgba(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgba(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            

            i{
                font-size: 3vw;
            }

            &:hover{
                cursor: pointer;
            }
        
        }


        }
    }
    }

    .card:hover .face.face2 {
        height: 18%;
        flex-direction: row;
        padding-left: 1vw;
        padding-right: 1vw;

        h2 {
            font-size: 2vh;
        }

        .icon{
            margin-top: 0;
            margin-left: 3vw;
            width: 3vw;
            height: 3vw;

            i{
                font-size: 2.5vw;
            }
        }
    }

    .card .face.face2 {
        background-image: linear-gradient(
        40deg,
        #fffc00 0%,
        #fc00ff 45%,
        #00fffc 100%
        );
        border-radius: 15px;
    }

    }


