@import "./media";

.socialPane {
    position: fixed;
    height: 42vh;
    background-color: black;
    top: 0;
    right: 0;
    width: 4.5rem;
    z-index: 10;
    border-radius: 0rem 0rem 0rem 2rem;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
    animation: expandPane 1.8s ease-in-out forwards 3s;
    //
    height: inherit !important;

    .paneBorder {
        position: relative;
        height: 36vh;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: white;
        //
        height: inherit !important;
        top: -2vh;
    }

    .socialArray {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 38vh;
        justify-content: space-between;
        //
        height: fit-content !important;
        position: relative;
        top: 2vh;
    }
}



.hideBar{
    width: 0vw;
}

@keyframes expandPane {
    0% {
        transform: translateX(400px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.socialIconC
{
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    transition: all 0.8s;
    cursor: pointer;
    box-shadow: 3px 9px 16px rgba(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgba(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}


.socialIconC .icons
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1.3rem;
    transform: translate(-50%, -50%);
}

svg circle
{
    stroke-dasharray: 5rem;
    transition: all 0.8s;
}

.socialIconC:hover svg circle
{
    stroke-dasharray: 15;
}



@include mobile{
    .socialArray{
        height: fit-content !important;
        position: relative;
        top: 2vh;
    }

    .paneBorder{
        height: inherit !important;
        top: -2vh;
    }

    .socialPane{
        height: inherit !important;
    }
}